.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;
}

.new-collections hr {
    width: 200px;
    height: 8px;
    border-radius: 10px;
    background-color: #252525;
}

.collections {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.newsletter input {
    width: 600px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.newsletter div button {
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* ---- MEDIA QUERIES ---- */

@media (max-width:1280px) {
    .new-collections h1 {
        font-size: 40px;
    }
    .new-collections hr {
        width: 120px;
        height: 4px;
    }
    .new-collections {
        gap: 20px;
        margin-top: 30px;
    }

   
}

@media (max-width:1024px) {
    .new-collections h1 {
        font-size: 30px;
    }
    .new-collections hr {
        width: 110px;
        height: 3px;
    }
    .new-collections {
        gap: 15px;
        margin-top: 20px;
    }

   
}

@media (max-width:800px) {
    .new-collections {
        gap: 6px;
    }
    .new-collections h1 {
        font-size: 20px;
    }
    .new-collections hr {
        width: 100px;
    }

    .collections {
        gap: 5px;
    }
}

@media (max-width:500px) {
    .collections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}
