.add-product {
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
  padding: 20px 30px;
  background: white;
  border-radius: 6px;
}

.addproduct-itemfield {
  width: 100%;
  font-size: 16px;
  color: #7b7b7b;
}

.addproduct-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  outline: none;
  transition: all 0.25s ease;
}

.add-product-selector {
  padding: 10px;
  width: 100px;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #7b7b7b8d;
  border-radius: 4px;
}

.addproduct-price {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.addproduct-thumnail-img {
  width: 120px;
  height: 120px;
  border: 2px dashed #cfcfcf;
  border-radius: 10px;
  margin: 10px 0px;
  object-fit: contain;
  padding: 12px;
}

.addproduct-btn {
  width: 160px;
  margin: 20px 0;
  height: 50px;
  background: #6079ff;
  color: white;
  font-size: 16px;
  font-weight: 500; /* fixed */
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

@media (min-width: 800px) {
  .add-product {
    width: auto;
    padding: 30px;
    margin: 20px auto;
  }
}
