.login{
    width: 100%;
    height: 80vh;
    background-color:#fce3fe;
    padding-top: 100px;

}
.login-container{
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}
.login-container h1{
    margin: 20px 0px;

}
.login-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.login-fields input{
    height: 72px;
    width: 100%;
    border: 1px solid #c9c9c9;
    padding-left: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.login-container button{
    width: 580px;
    height: 72px;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.login-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;

}
.login-login span{
    color: #ff4141;
    cursor: pointer;
    font-weight: 600;
}
.login-agree{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

/* ---------- 1280px ---------- */
@media (max-width: 1280px) {
    .login-container {
        width: 500px;
        padding: 30px 50px;
    }
    .login-fields input {
        height: 60px;
        font-size: 16px;
    }
    .login-container button {
        width: 100%;
        height: 60px;
        font-size: 20px;
    }
}

/* ---------- 1024px ---------- */
@media (max-width: 1024px) {
    .login-container {
        width: 420px;
        padding: 25px 40px;
    }
    .login-fields input {
        height: 55px;
        font-size: 16px;
    }
    .login-container button {
        height: 55px;
        font-size: 18px;
    }
}

/* ---------- 800px ---------- */
@media (max-width: 800px) {
    .login-container {
        width: 350px;
        padding: 20px 30px;
    }
    .login-fields input {
        height: 50px;
        font-size: 15px;
    }
    .login-container button {
        height: 50px;
        font-size: 16px;
    }
    .login-agree, .login-login {
        font-size: 16px;
    }
}

/* ---------- 500px (Mobile) ---------- */
@media (max-width: 500px) {
    .login-container {
        width: 90%;
        padding: 15px 20px;
    }
    .login-fields input {
        height: 45px;
        font-size: 14px;
    }
    .login-container button {
        height: 45px;
        font-size: 14px;
    }
    .login-agree, .login-login {
        font-size: 14px;
    }
}
