
.chat-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  background-color: #ff4141;
}

.chat-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.ai-chat {
  position: fixed;  
  bottom: 100px;
  right: 20px;
  width: 350px;
  height: 500px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 101;
}



.chat-box {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  max-height: 350px;
}

.chat-box .user {
  color: #090909;
  text-align: right;
  margin: 5px 0;
}

.chat-box .ai {
  color: #171717;
  margin: 5px 0;
}


.ai-chat input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  width: calc(100% - 20px);
}


.ai-chat button {
  background-color: #ff4141;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.ai-chat button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}


.ai {
  font-style: italic;
  color: #888;
  text-align: center;
}


.close-chat {
  background-color: #e1e1e1;
  color: #090909;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
  font-size: 14px;
}


@media(max-width: 600px) {
  .ai-chat {
    width: 100%;
    height: 80%;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
  }

  .chat-box {
    max-height: 70%;
  }
}
