.listproduct-allproducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listproduct-format-main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  align-items: center;
}

.listproduct-product-icon {
  height: 80px;
  object-fit: contain;
}

.listproduct-remove-icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

/* Responsive for screens <= 800px */
@media (max-width: 800px) {
  .listproduct-format-main {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr; /* hide "Remove" column if needed */
    font-size: 14px;
  }

  .listproduct-product-icon {
    height: 60px;
  }
}

