
.cartitem {
    margin: 100px 170px;
}


.cartitem hr {
    height: 2px;
    background: #e2e2e2;
    border: 0;
    margin: 12px 0;
}


.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr 0.8fr;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #454545;
    padding: 15px 0;
    gap: 20px;
}

.cartitems-format-main p {
    margin: 0;
}


.cartitems-format {
    display: grid;
    grid-template-columns: 0.6fr 2fr 1fr 1fr 1fr 0.8fr;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-weight: 500;
}

.cartitem-product-icon {
    width: 62px;
}


.cartitems-remove-icon {
    width: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.cartitems-remove-icon:hover {
    transform: scale(1.1);
}

.cartitems-quantity {
    width: 62px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #ebebeb;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}


.cartitems-down {
    display: flex;
    margin: 80px 0;
    gap: 50px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    font-size: 18px;
}

.cartitems-total button {
    width: 260px;
    height: 58px;
    border: none;
    outline: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.cartitems-total button:hover {
    background: #e14a4a;
}

.cartitems-promocode {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #666;
}

.cartitems-promobox {
    width: 100%;
    height: 58px;
    margin-top: 15px;
    background: #eaeaea;
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.cartitems-promobox input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}

.cartitems-promobox button {
    width: 150px;
    height: 45px;
    background: black;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
}

.cartitems-promobox button:hover {
    background: #333;
}


/* ---------- 1280px ---------- */
@media (max-width: 1280px) {
    .cartitem {
        margin: 60px 50px;
    }

    .cartitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        font-size: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
        .cartitems-product-main{
            height: 50px;

        }
    .cartitems-remove-icon{
        margin: auto;
    }

    .cartitems-quantity{
        width: 40px;
        height: 30px;
    }

    .cartitems-down {
      margin: 80px 0px;
      flex-direction: column;
      gap: 80px;
    }
        .cartitems-total{
            margin:0;}
    .cartitems-total button{
        max-width:200px;
        height: 45px;
        font-size: 13px;
    }
    .cartitems-promobox{
        width: auto;
        max-width: 500px;
    }
    .cartitems-promobox input{
        width: 100%;
    }
    .cartitems-promobox button{
        width: 120px;
        margin-left: -125px;
    }
}




@media (max-width: 500px) {


    .cartitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }
    .cartitems-format {
       display: grid;
    }
}

